@{
    ViewData["Title"] = "CML debugging";
}
<h1>DEBUGGING PAGE</h1>
<p>Server Name: @ViewBag.ServerName</p>

<h5>Labs ID:</h5>
@for (int i = 0; i < ((object[])ViewBag.Labs2).Length; i++)
{
    <a href="@Url.Action("LabInfo","CML",new {servername=ViewBag.ServerName, id_lab=ViewBag.Labs2[i]})"><p>@ViewBag.Labs2[i]</p> </a>
}