#Soubor .env potřebný pro spuštění v Dockeru. Poznámka: tohle je jen ukázkový soubor. 
#File .env is needed for running in docker. Note: this is just an example. 
DB_USER=sa
DB_PASSWORD=vase_silne_heslo
