@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Log in";
}

@model LoginModel

<div class="container mt-5">
    <h2 class="mb-4">Login Page</h2>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <form method="post" class="p-4 border rounded">
        <div class="mb-3">
            <label class="form-label" asp-for="Username">Login:</label>
            <input type="text" class="form-control" asp-for="Username" required />
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Password">Password:</label>
            <input type="password" class="form-control" asp-for="Password" required />
        </div>

        <button class="btn btn-primary w-100" type="submit">Sign In</button>
    </form>
</div>
